// base color
$primary-color: #94002d;
$secondary-color: #bda251;
$third-color: #919191;
$body-color: #333;
$cancel-order-color: #865702;
$success-color: #18c712;
$warning-color: #f64343;

$el-input-height: 3.125rem;
